/**
 * SCSS - _maxfoote-admin-ui.scss - Holds general Admin CSS that applies plugin-wide, including CSS for the Admin containers, the advertisment areas, and the dashboard icon
 *
 * @author   Jake Evans
 * @category SCSS
 * @package  Includes/Assets/CSS
 * @version  6.0.0
 */


/*
 * BEGIN ADMIN CONTAINER BONES, ADVERTISMENT, LICENSE UI ELEMENTS, AND DASHBOARD ICON CSS
 */
.maxfoote-admin-top-container, .maxfoote-admin-advert-container{
    @extend %maxfoote-admin-containers;
}

.maxfoote-admin-top-title-icon{
    @extend %maxfoote-admin-top-title-icon;
}

.maxfoote-admin-top-title{
    @extend %maxfoote-admin-top-title;
}

.maxfoote-admin-advert-visit-me-title{
    @extend %maxfoote-admin-advert-visit-me-title;
}

.maxfoote-admin-advert-site-div{
    @extend %maxfoote-admin-advert-site-div;
}

.maxfoote-admin-advert-site-div img{
    @extend %maxfoote-margin-auto-centered;
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#maxfoote-admin-advert-email-me{
    @extend %maxfoote-margin-auto-centered;
    text-align: center;
    width: 70%;
    font-size: 16px;
    font-weight: bold;
}

#maxfoote-admin-advert-flex-container{
    display:flex;
}

#maxfoote-facebook-link-div, #maxfoote-admin-advert-money-container{
    text-align:center;
}

#maxfoote-admin-advert-money-container form{
    display: inline-block;
}

#maxfoote-patreon-img{
    width: 100px;
}

#maxfoote-patreon-link{
    display: inline-block;
    margin: 10px;
}

.maxfoote-admin-advert-visit-me-link{
    text-decoration:none;
    font-size: 20px;
    margin-bottom: 30px;
    display: block;
}

.maxfoote_page_BellWebsites-Options .dashicons-before img {
    width: 30px !important;
    margin-right: 2px !important;
    margin-left: 2px !important;
}

.maxfoote-my-notice-dismiss-forever{
    @extend %maxfoote-default-buttons-style;
}

.maxfoote-my-notice-dismiss-forever:hover {
    @extend %maxfoote-default-buttons-style-hover;
}

.maxfoote-extension-genreric-key-plugins-page-input{
    margin-right:5px;
}

.maxfoote-extension-genreric-key-dashboard-input{
    min-width:300px;
}

.maxfoote-extension-genreric-key-dashboard-form{
    padding-bottom:10px;
}

/*
 * BEGIN ADMIN CONTAINER BONES, ADVERTISMENT, LICENSE UI ELEMENTS, AND DASHBOARD ICON CSS
 */


/*
 * BEGIN COMMON ELEMENTS INSIDE OF TOP ADMIN CONTAINERS
 */

 .maxfoote-color-orange-italic{
    @extend  %maxfoote-color-orange-italic;
 }

.maxfoote-tab-intro-para{
    @extend %maxfoote-tab-intro-para;
}

.maxfoote-tab-intro-para-left{
    @extend %maxfoote-tab-intro-para;
    text-align: left;
}

.maxfoote-icon-image-question, .maxfoote-icon-image-question-with-link{
   @extend %maxfoote-icon-image-question;
}

.maxfoote-icon-image-question-with-link{
    right: 3px;
}

.maxfoote-spinner{
    @extend %maxfoote-spinner;
}

.maxfoote-response-success-fail-container{
    @extend %maxfoote-response-success-fail-container;
}

.maxfoote-question-icon-label{
    @extend %maxfoote-question-icon-label;
}

.maxfoote-addition-div-img{
    width:22px;
}

.maxfoote-addition-div-img{
   @extend %maxfoote-addition-div-img;
}

.maxfoote-addition-div-p{
    @extend %maxfoote-addition-div-p;
}

#maxfoote-smile-icon-1{
    @extend %maxfoote-margin-auto-centered;
    @extend %maxfoote-smile-icon;
}

#maxfoote-success-span{
    font-style: italic;
    color: $primary-color;
    font-size: 16px;
}

.maxfoote-show-book-colorbox {
    text-decoration: underline;
    cursor: pointer;
}

.maxfoote-bold-shortcode{
    @extend %maxfoote-bold-shortcode;
}

.maxfoote-bold-shortcode-orange{
    @extend %maxfoote-bold-shortcode-orange;
}

.maxfoote-bold-li-heading{
   @extend %maxfoote-bold-li-heading;
}

#maxfoote-dynamic-input-library{
    min-width: 300px;
    margin-bottom:50px;
}

#maxfoote-dynamic-shortcode-button{
    margin-bottom:50px;
}

#maxfoote-dynamic-shortcode-button, .maxfoote_delete_custom_lib{
    width: 200px;
}

.maxfoote-response-success-fail-button{
   @extend %maxfoote-response-success-fail-button;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#maxfoote-cache-clear-wrapper{
    width: 70%;
    margin: 25px;
    margin-top: 0px;
    position: relative;
    text-align: center;
    top: 5px;
}


#maxfoote-cache-clear-wrapper img{
    left: 0px;
    top: 1px;
}

#maxfoote-spinner-cache{
    height: 10px;
    width: 10px;
    display: inline-block;
    top: 10px;
    border-left: 1px solid #F1F1F1;
    border-right: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
}



/*
 * END COMMON ELEMENTS INSIDE OF TOP ADMIN CONTAINERS
 */



/*
 * 
 */

#maxfoote-display-options-container{
    text-align: center;
}

.maxfoote-form-section-fields-wrapper{
    display: flex;
    margin: 10px;
}

.maxfoote-form-section-fields-label{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.maxfoote-form-section-fields-indiv-wrapper{
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.maxfoote-form-section-fields-indiv-wrapper input:not([type='checkbox']) {
    width:13vw;
    margin-bottom: 10px;
}

.maxfoote_page_BellWebsiteDatabase-Options .dashicons-before img{
    width: 30px !important;
    margin-right: 2px !important;
    padding: 2px 0 0 !important;
    top: 6px;
    position: relative;
}

.maxfoote-form-section-fields-checkboxes-upsells-wrapper label{
    display:block;
}

.maxfoote-form-section-fields-input-text-additional-features-hidden, .maxfoote-form-section-fields-input-text-additional-upsells-hidden{
    height: 0px;
    overflow: hidden;
    opacity: 0;
}

.maxfoote-form-section-addnewstuff-icon{
    width: 20px;
}

.maxfoote-form-section-fields-new-thing-control p{
    margin-bottom: 0px;
}

.maxfoote-form-section-wrapper{
    border: solid 1px #cecece;
    margin-bottom: 50px;
    margin-top: 50px;
}

.maxfoote-form-subtitle{
    font-weight:bold;
    text-transform: uppercase;
}

.maxfoote-form-subtitle-subtitle{
    font-weight:bold;
    margin-top: 50px;
    margin-bottom: 10px;
}

.maxfoote-upload-file-button{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and ( max-width: 960px ){

    .maxfoote-form-section-fields-wrapper{
        flex-direction: column;
    }

    .maxfoote-form-section-fields-indiv-wrapper input {
        width:40vw;
    }

}


 /*
 * END CSS FOR COMMON FORM FILL
 */


 .maxfoote-spinner{
    opacity:0;
    height:20px;
    width:20px;
    margin:10px auto;
    -webkit-animation:rotation .6s infinite linear;
    -moz-animation:rotation .6s infinite linear;
    -o-animation:rotation .6s infinite linear;
    animation:rotation .6s infinite linear;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
    border-top:1px solid #B4D9E9;
    border-radius:100%;
    position:relative
}

.maxfoote-displayentries-response-formatted-message-success{
    font-weight:bold;
    font-size:15px;
    color:#1974AB;
    border:2px solid greenyellow;
    background-color:lightgreen;
    width:100%;
    text-align:center;
    margin:auto;
    padding:10px;
}

.maxfoote-displayentries-response-formatted-message-vendor-exists{
    font-weight:bold;
    font-size:15px;
    color:white;
    border:2px solid pink;
    background-color:red;
    width:100%;
    margin:auto;
    padding:10px;
}

.entry-content {
    text-align: center;
}

.maxfoote-form-section-fields-indiv-wrapper{
    padding: 10px !important;    
}

.maxfoote-vendor-inner-top-container-buttons-response {
    width: 100%;
}