
/*
 *   BEGIN COLOR VARIABLES
*/
$primary-color: #B4D9E9;
$primary-color-border: #b11c48;
$verylight-primary-color: #FAE6EC;
$slightly-darker-primary: #F8DEE6;
$slightly-darker-primary-border: #DFC7CF;
$secondary-yellow: #F8C849;
$purewhite: #FFFFFF;
$pureblack: #000000;
$lightgray: #CCCCCC;
$white-trans-9:rgba(255, 255, 255, 0.9);
$primary-box-shadow:2px 2px 5px $pureblack;
$primary-box-shadow-inset: inset 2px 2px 5px $pureblack;
$menu-text-shadow: 1px 1px black;

/*
 *   END COLOR VARIABLES
*/

/*
 * BEGIN PLACEHOLDER CLASSES
 */
%maxfoote-admin-container-border{
    border: solid 1px $primary-color;
}

%maxfoote-admin-container-box-shadow{
    box-shadow: 10px 10px 10px $primary-color;
}

%maxfoote-margin-auto-centered{
    margin-left: auto;
    margin-right: auto;
}

%maxfoote-question-icon-label{
    position:relative;
    right:10px;
}

%maxfoote-response-success-fail-container{
    text-align:center;
    margin-top:50px;
}

%maxfoote-admin-top-title-icon{
    width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

%maxfoote-admin-container-bottom-border-only{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-style: solid;
}

%maxfoote-admin-advert-visit-me-title{
    font-variant: small-caps;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 5px;
    margin-top:20px;
}

%maxfoote-admin-advert-site-div{
    text-align: center;
    font-variant: small-caps;
    display: inline-block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

%maxfoote-icon-image-question{
    width: 12px;
    display: inline-block;
    cursor: pointer;
    padding-left: 10px;
    position: relative;
    right: 10px;
}

%maxfoote-spinner{
    opacity: 0;
    height: 20px;
    width: 20px;
    margin: 10px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 1px solid $purewhite;
    border-right: 1px solid $purewhite;
    border-bottom: 1px solid $purewhite;
    border-top: 1px solid $primary-color;
    border-radius: 100%;
    position: relative;
}

%maxfoote-tab-intro-para{
    @extend %maxfoote-margin-auto-centered;
    text-align: center;
    max-width: 600px;
}

%maxfoote-admin-containers{
    @extend %maxfoote-admin-container-border;
    @extend %maxfoote-admin-container-box-shadow;
    background-color: $purewhite;
    padding: 10px;
    width: 70%;
    border-radius: 10px;
    margin: 25px;
}

%maxfoote-admin-top-title{
    @extend %maxfoote-admin-container-bottom-border-only;
    width: 100%;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 18px;
    text-align: center;
}

%maxfoote-addition-div-img{
    width:22px;
}

%maxfoote-addition-div-p{
    margin: 0px;
    font-size: 10px;
    position: relative;
    top: 42px;
    line-height: 0.9;
}

%maxfoote-bold-shortcode{
    font-weight: bold;
    margin-bottom: 20px;
}

%maxfoote-bold-shortcode-orange{
    @extend %maxfoote-bold-shortcode;
    color: $primary-color;
}

%maxfoote-bold-li-heading{
    font-weight: bold;
    display: inline-block;
    margin-bottom:5px;
}

%maxfoote-indiv-entry-style {
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    position: relative;
    min-height: 100px;
    width: 97%;
}

%maxfoote-indiv-row-container-div{
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    padding: 10px;
    display: block;
    position: relative;
    min-height: 50px;
    width: 97%;
}

%maxfoote-default-buttons-style{
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.1);
    margin: 5px;
    background-color: $primary-color;
    padding: 7px;
    padding-left: 10px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    position: relative;
    cursor: pointer;
    display:inline-block;
}

%maxfoote-default-buttons-style-hover{
    box-shadow: none;
}

%maxfoote-select-centered{
    margin-left:auto;
    margin-right:auto;
    display:block;
}

%maxfoote-response-success-fail-button{
    margin: 50px;
    margin-top: 20px;
}


 %maxfoote-color-orange-italic{
    color: $primary-color;
    font-style: italic;
 }

 %maxfoote-button-and-link-box-shadow{
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1);
 }

%maxfoote-smile-icon{
    @extend %maxfoote-margin-auto-centered;
    width: 30px;
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
}






/*
 * END PLACEHOLDER CLASSES
 */

/*
 *  BEGIN IMPORTS
*/

@import '_maxfootedb-admin-ui.scss';

/*
 *  END IMPORTS
*/

.maxfoote-spinner{
    opacity:0;
    height:20px;
    width:20px;
    margin:10px auto;
    -webkit-animation:rotation .6s infinite linear;
    -moz-animation:rotation .6s infinite linear;
    -o-animation:rotation .6s infinite linear;
    animation:rotation .6s infinite linear;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
    border-top:1px solid #B4D9E9;
    border-radius:100%;
    position:relative
}

.maxfoote-displayentries-response-formatted-message-success{
    font-weight:bold;
    font-size:15px;
    color:#1974AB;
    border:2px solid greenyellow;
    background-color:lightgreen;
    width:80%;
    text-align:center;
    margin:auto;
    padding:10px;
    border-radius: 5px;
}

.maxfoote-displayentries-response-formatted-message-vendor-exists{
    font-weight:bold;
    font-size:15px;
    color:white;
    border:2px solid pink;
    background-color:red;
    width:80%;
    margin:auto;
    padding:10px;
    border-radius: 5px;
}

.entry-content {
    text-align: center;
}

.maxfoote-form-section-fields-indiv-wrapper{
    padding: 10px !important;    
}

.maxfoote-vendor-udpate-container{
    background-color: lightskyblue;
    margin-bottom: 10px !important;
    border-radius: 5px !important;
    text-align: center;
}

.maxfoote-vendor-update-container-accordion-heading{
    background-color: #1976BA !important;    
    width: 100% !important;    
    height: 35px !important;
    border-radius: 5px !important;
    color: white;
    font-size: 20px !important;
}

.maxfoote-update-vendor{
    background-color: #1976BA !important;    
    width: 30% !important;    
    height: 35px !important;
    border-radius: 5px !important;
    color: white;
    font-size: 20px !important;
    margin-right: 30px;
}

.maxfoote-delete-vendor{
    background-color: red !important;    
    width: 30% !important;    
    height: 35px !important;
    border-radius: 5px !important;
    color: white;
    font-size: 20px !important;
    margin-left: 30px;
}

.maxfoote-displayentries-response-div-actual-container{
    margin-bottom: 20px !important;
    /*border: 1px solid lightskyblue;*/
}

.maxfoote-display-search-ui-top-container{
    border: solid 1px #efefef;
    background-color: rgb(136, 0, 255);
    margin: 20px 0px 20px 0px;
    text-align: center;
    color: white;
}

.maxfoote-display-search-ui-top-container select{
    width: 170px;
}

.maxfoote-display-search-ui-top-container button{
    margin-top:20px;
    margin-bottom:20px;
}

.maxfoote-display-search-ui-top-container .maxfoote-form-section-fields-indiv-wrapper{
    margin: 0;
    padding-top: 0!important;
}

.maxfoote-display-search-ui-top-container .maxfoote-tab-intro-para{
    margin-top: 40px;
    margin-bottom: 30px;
}

.maxfoote-vendor-search-udpate-container-update-heading{
    background-color: rgb(136, 0, 255) !important;
}

#maxfoote-toggle-all-vendors {
    background-color: rgb(54, 212, 237);
    width: 25%;
    line-height: 2;
    border-radius: 3px;
    color: black;
    font-size: 14px;
    margin-right: 25px;
}

#maxfootedb-search-button {
    background-color: rgb(54, 212, 237);
    width: 20%;
    line-height: 2;
    border-radius: 3px;
    color: black;
    font-size: 14px;    
}

.maxfoote-search-field {
    float: left;
}

.maxfoote-search-vendors {
    background-color: rgb(160, 83, 237) !important;
}

.maxfoote-search-label{
    color: white !important;
}

.maxfoote-form-newsite-vendorlastupdated {
    margin-top: 5px;
}

.maxfoote-form-newsite-search-vendorlastupdated {
    color: white;
    margin-top: 5px;
}